@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', sans-serif;
}

html {
    scroll-padding-top: 100px;
}       

a {
    @apply text-black no-underline;
}

.errors ul {
    color: red;
    list-style: disc;
    margin-left: 20px;
}

.navbar {
    @apply bg-white shadow-md fixed w-full z-50 h-15;
    display: flex;
    align-items: center; 
    justify-content: center; 
}


.navbar ul {
    @apply flex flex-row justify-evenly list-none;
    display: flex; 
    align-items: center; 
    width: 100%; 
}

.navbar h1 {
    @apply text-2xl font-bold text-green-700;
}

.navbar span {
    @apply text-black;
}

.btn {
    @apply bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700;
    
}

.main {
    @apply pt-15;
}

